*{
    padding: 0px;
    margin: 0px;

}
body{
    height: 500px;
}
#root{
    background-color: gray;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "leftB header header"
    "leftB content extra"
    "leftB foot foot";
}

/*!HEADER NAV BAR*/
.title{
    grid-area: header;
    margin: auto;
}
nav{
    display: flex;
}

.navMain{

}

.navMain__links{
    visibility: hidden;
}
/*!HEADER NAV BAR*/


/*!LEFT ELEMENT*/
.leftBar{
    grid-area: leftB;
    width: 2em;
    background-color: red;
    overflow: hidden;
    
}
/*!KEYFRAME ANIMATION*/
/* .leftBar:hover{
    animation: leftB 0.25s;
    animation-fill-mode: forwards;
}
@keyframes leftB{
    0% {width: 2em;}
    15% {width: 2.5em;}
    25% {width: 3em;}
    35% {width: 3.5em;}
    50% {width: 4em;}
    65% {width: 4.5em;}
    75% {width: 5em;}
    80% {width: 5.5em;}
    85% {width: 6em;}
    90% {width: 6.5em;}
    100%{width: 7em;}
} */
.leftBarHolder{
    background-color: blue;
    width: 150px;
    height: 80vh;
    position: absolute;
    left: -118px;
}
.leftBarHolder:hover{
    transition: transform 300ms ease-out;
    transform: translateX(118px);
    z-index: 10;
}
.leftBar__elements{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 118px;
    width: inherit;
    height: inherit;
    margin: 10px 0px 0px 0px;
}
.leftBar__elements:hover{
    transition: transform 300ms ease-out 005ms;
    transform: translateX(-118px);
    z-index: 10;
}
.lbEle{
    overflow: hidden;
    height: 1em;
}
/*!LEFT ELEMENT*/

.content{
    grid-area: content;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.rightPop{
    grid-area: extra;
    background-color: darkslateblue;
}
.foot{
    grid-area: foot;
    background-color: black;
}